.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    }
    
    .name {
    font-size: 24px;
    }
    
    .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    }
    
    .mainpage {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .home1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    }
    
    .intro1 {
    font-size: 36px;


    
    /* Media Query for Responsive Design */
    @media only screen and (max-width: 768px) {
    .home1, .home2 {
    padding: 30px;
    }